flask==2.1.2
flask-sqlalchemy==2.5.1
flask_jwt_extended==4.4.1
psycopg2-binary==2.9.3
sqlalchemy==1.4.37
passlib==1.7.4
redis==4.3.3
gevent==21.12.0
python-dotenv==0.20.0
pydantic==1.9.0
flask_migrate==3.1.0
authlib==1.0.1
flask-cors==3.0.10
