.App {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothin: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1280px) {
  .App {
  }
}

@media screen and (max-width: 768px) {
  .App {
  }
}

@media screen and (max-width: 320px) {
  .App {
  }
}
