DB_NAME=content
DB_USER=docker
DB_PASSWORD=docker
SECRET_KEY='django-insecure-fm2zn-o+kw66h%=+#fd3bi)&y-1ygk2qek7&(!2(pzdl22qrtn'
ALLOWED_HOSTS=127.0.0.1,localhost
POSTGRES_USER=docker
POSTGRES_PORT=5432
POSTGRES_PASSWORD=docker
POSTGRES_DB=content
POSTGRES_HOST=postgres

DB_SQLITE=db.sqlite
DB_PREFIX=content

ELASTIC_SCHEME_FILMS=movies
ELASTIC_JSON_FILE_FILMS=index_schema_films.json
ELASTIC_SCHEME_PERSONS=persons
ELASTIC_JSON_FILE_PERSONS=index_schema_persons.json
ELASTIC_SCHEME_GENRES=genres
ELASTIC_JSON_FILE_GENRES=index_schema_genres.json

ELASTIC_SCHEME=movies
ELASTIC_ADDRESS=elasticsearch:9200
ELASTIC_HOST=elasticsearch
ELASTIC_PORT=9200
ELASTIC_JSON_FILE=index_schema.json

REDIS_DB=0
REDIS_PORT=6379
REDIS_HOST=redis

AUTH_SECRET_KEY=16be489f7ba8a18ab6d506a207dde676a56bc7684b1a16120d4d432b19f3a8cd
JWT_SECRET_KEY=16be489f7ba8a18ab6d506a207dde676a56bc7684b1a16120d4d432b19f3a8cd
JWT_ACCESS_TOKEN_EXPIRES_HOURS=1
JWT_REFRESH_TOKEN_EXPIRES_DAYS=30
ADMIN_USERNAME=admin
ADMIN_PASSWORD=16be489f7ba8a18ab6d506a207dde676a5

AUTH_APP_PORT=5001
AUTH_APP_HOST=auth_api

ROLE_APP_PORT=5002
ROLE_APP_HOST=role_api

SEARCH_APP_PORT=8000
SEARCH_APP_HOST=search_api

TESTS_APP_PORT=5000
TESTS_APP_HOST=tests
