.Register {
  max-width: 396px;
  margin: 70px auto 0 auto;
}

.Register__logo {
  display: block;
  width: 38px;
  height: 38px;
  margin-bottom: 40px;
}

.Register__link {
  margin: 16px auto 0 auto;
  text-align: center;
}

.Register__link-hint {
  display: inline;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: var(--dark-gray);
  margin-right: 6px;
}

.Register__back-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: var(--blue);
  text-decoration: none;
}

.Register__back-link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .Register {
    margin: 232px auto 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .Register {
    max-width: 260px;
    margin: 56px auto 0 auto;
  }

  .Register__link-hint {
    font-size: 12px;
    line-height: 15px;
  }

  .Register__back-link {
    font-size: 12px;
    line-height: 15px;
  }

  .Register__logo {
    margin: 0 auto 50px auto;
  }
}
